@use "./mixins/general" as *;

.image-with-text {

  background: rgba(var(--theme-colour-black), 1);
  color: rgba(var(--theme-colour-white), 1);

  .heading--1 {
    display: block;
  }

  .media {
    img {
      border: 2px solid rgba(var(--theme-colour-white), 1);
    }
  }

  &__content {
    :last-child:is(.button) {
      margin-top: 2.5rem;
      margin-bottom: 0;
    }
  }

  &__figure {
    display: none;
  }

  @include breakpoint(md) {

    &__content {
      padding-inline-start: 3rem;
      padding-top: 0;
      padding-bottom: 0;
    }

  } // min width md

  @include breakpoint(lg) {

    .heading--1 {
      font-size: 70px;
    }

    &__content {
      padding-inline-start: 4rem;
    }

    &__figure {
      display: block;
      width: 95px;
      height: auto;
      max-height: 170px;
      img, svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      & + .button,
      & + .image-with-text__heading,
      & + .image-with-text__text {
        margin-top: 24px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    .heading--1 {
      font-size: 80px;
    }

    &__content {
      padding-inline-start: 5rem;
    }

    &__figure {
      width: 105px;
      max-height: 235px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    .heading--1 {
      font-size: 86px;
    }

    &__figure {
      width: 115px;
      max-height: 250px;
    }

  } // min width xxl

}
