@use "./mixins/general" as *;
@use "./mixins/body-copy" as *;
@use "./mixins/button" as *;
@use "./mixins/link" as *;

.product {

  .product__button-add-to-cart {
    width: 100%;
  }

  .shopify-payment-button__button--unbranded {
    @include button(primary);
    width: 100%;
  }

  &-form__button-add-to-cart {
    width: 100%;
  }

  &__title {
    .price {
      font-size: inherit;
    }
  }

  .pickup-availability {
    &-button {
      @include link(underlined);
      margin-top: 15px;
    }
    &-info {
      @include body-copy(1);
      p {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        font-style: inherit;
      }
    }
    &-button,
    &-info {
      font-size: 10px;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .pickup-availability {
      &-button,
      &-info {
        font-size: 12px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
