@use "./mixins/general" as *;

.image-grid {

  &__heading {
    text-align: center;
    & + .image-grid__main {
      margin-top: 32px;
    }
  }

  &__item {
    display: block;
    width: 100%;
    height: auto;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__main {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__heading {
      & + .image-grid__main {
        margin-top: 42px;
      }
    }

    &__main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    &__heading {
      & + .image-grid__main {
        margin-top: 52px;
      }
    }

  } // min width xxl

}
