@use "./mixins/general" as *;

.image-with-text {

  background: rgba(var(--theme-colour-black), 1);
  color: rgba(var(--theme-colour-white), 1);

  .heading--1 {
    display: block;
  }

  .media {
    img {
      border: 2px solid rgba(var(--theme-colour-white), 1);
    }
  }

  &__content {
    :last-child:is(.button) {
      margin-top: 2.5rem;
      margin-bottom: 0;
    }
  }

  &__figure {
    display: none;
    width: 100px;
    height: auto;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    & + .button,
    & + .image-with-text__heading,
    & + .image-with-text__text {
      margin-top: 24px;
    }
  }

  @include breakpoint(md) {

    &__content {
      padding-inline-start: 3rem;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__figure {
      width: 70px;
    }

  } // min width md

  @include breakpoint(lg) {

    .heading--1 {
      font-size: 72px;
    }

    &__content {
      padding-inline-start: 4rem;
    }

    &__figure {
      display: block;
      width: 95px;
    }

  } // min width lg

  @include breakpoint(xl) {

    .heading--1 {
      font-size: 82px;
    }

    &__content {
      padding-inline-start: 5rem;
    }

    &__figure {
      width: 105px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    .heading--1 {
      font-size: 88px;
    }

  } // min width xxl

}
