@use "./mixins/body-copy" as *;
@use "./mixins/general" as *;

.cart-items {

  font-family: 'Akkurat Mono', monospace, serif;

  thead {
    th {
      @include body-copy(1);
      font-size: 11px;
    }
  }

  &__product-tile {
    color: red;
    font-weight: normal;
    font-style: normal;
    &-link {
      color: inherit;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {

    thead {
      th {
        font-size: 12px;
      }
    }

  } // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl


}
