@use "./mixins/general" as *;

.card-product {

  .price {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    letter-spacing: inherit;
  }

  &__product-price,
  &__product-title {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    color: inherit;
    line-height: 1;
  }

  &__images {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    &:hover {
      .card-product__image-02 {
        opacity: 1;
        transform: scale(1.075);
      }
    }
  }

  &__image {
    &-01 {}
    &-02 {
      transition:
        opacity var(--theme-transition-duration),
        transform var(--theme-transition-duration--long);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      opacity: 0;
      transform: scale(1);
    }
  }

  &__information {
    font-family: "PP Neue Montreal Bold", sans-serif;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: baseline;
    letter-spacing: 0;
    font-size: 24px;
    text-align: center;
    padding: 15px 0 0 0;
  }

  &__product-title {
    & + .card-product__product-price {
      margin-left: 15px;
    }
  }

  @include breakpoint(md) {

    &__information {
      font-size: 30px;
    }

  } // min width md

  @include breakpoint(lg) {

    &__information {
      font-size: 30px;
    }

  } // min width lg

  @include breakpoint(xl) {

    &__information {
      font-size: 32px;
    }

  } // min width xl

}
