@use "./mixins/general" as *;

.featured-product {

  .product__title {
    font-family: "PP Neue Montreal Bold",sans-serif;
    width: 100%;
    letter-spacing: 0;
    font-size: 24px;
    & > * {
      font-family: inherit;
      letter-spacing: inherit;
      font-size: inherit;
    }
  }

  &.grid--2-col-tablet {
    .grid__item {
      width: 100%;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {

    .product__title {
      font-size: 30px;
    }

  } // min width md

  @include breakpoint(lg) {

    .product__info-wrapper {
      display: inline-flex;
      align-items: flex-end;
      justify-content: flex-start;
    }

    .product__title {
      font-size: 32px;
    }

    &.grid--2-col-tablet {
      .grid__item {
        width: 50%;
      }
      product-gallery {
        .grid__item {
          width: 100%;
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    .product__title {
      font-size: 36px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    .product__title {
      font-size: 40px;
    }

  } // min width xxl

}
