@use "./mixins/body-copy" as *;
@use "./mixins/general" as *;
@use "./mixins/heading" as *;
@use "./mixins/link" as *;

.cart-items {

  font-family: 'Akkurat Mono', monospace, serif;

  thead {
    th {
      @include body-copy(1);
      font-size: 11px;
    }
  }

  .cart-item {
    &__price-wrapper {
      .price {
        @include body-copy(1);
        font-size: 15px;
        bdi {
          display: inline-flex;
          align-items: baseline;
          justify-content: flex-start;
          font-family: inherit;
          font-size: inherit;
          font-style: inherit;
          font-weight: inherit;
        }
        .price__prefix,
        .price__suffix {
          font-size: unset;
          margin-inline-start: unset;
          margin-inline-end: unset;
        }
      }
    }
  }

  .title-wrapper {
    justify-content: center;
    flex-flow: row wrap;
    h1 {
      width: 100%;
      text-align: center;
    }
  }

  &__product-title {
    @include heading(2);
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    &-link {
      @include link();
      color: inherit;
      font-size: inherit;
    }
  }

  &__remove-item-link {
    @include link(underlined);
    font-size: inherit;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {

    thead {
      th {
        font-size: 12px;
      }
    }

    .cart-item {
      &__price-wrapper {
        .price {
          font-size: 14px;
        }
      }
    }

    .title-wrapper {
      justify-content: space-between;
      align-items: baseline;
      flex-flow: row nowrap;
      h1 {
        width: auto;
        text-align: center;
      }
    }

    &__product-title {
      font-size: 22px;
    }

  } // min width md

  @include breakpoint(lg) {

    .cart-item {
      &__price-wrapper {
        .price {
          font-size: 15px;
        }
      }
    }

    &__product-title {
      font-size: 24px;
    }

  } // min width lg

  @include breakpoint(xl) {

    .cart-item {
      &__price-wrapper {
        .price {
          font-size: 16px;
        }
      }
    }

    &__product-title {
      font-size: 26px;
    }

  } // min width xl

  @include breakpoint(xxl) {} // min width xxl


}
