@use "general" as *;

@mixin body-copy($style:primary) {

  font-family: var(--theme-sans-serif--sofia-pro);
  font-style: normal;
  font-weight: 300;
  line-height: 1.25;

  li, p {
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  // ---------------------------------------- Primary
  @if $style == primary {

    @include breakpoint(sm) {} // min width sm

    @include breakpoint(md) {} // min width md

    @include breakpoint(lg) {} // min width lg

    @include breakpoint(xl) {} // min width xl

    @include breakpoint(xxl) {} // min width xxl

  }

  // ---------------------------------------- Secondary
  @if $style == secondary {

    @include breakpoint(sm) {} // min width sm

    @include breakpoint(md) {} // min width md

    @include breakpoint(lg) {} // min width lg

    @include breakpoint(xl) {} // min width xl

    @include breakpoint(xxl) {} // min width xxl

  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
