@use "general" as *;

@mixin body-copy($style:1) {

  color: inherit;
  font-style: normal;

  // ---------------------------------------- Primary
  @if $style == 1 {

    font-family: "Akkurat Mono LL", serif;
    text-transform: none;
    font-size: 1.35rem;
    line-height: 1.3333;

    @include breakpoint(lg) {
      font-size: 1.6rem;
    }

  }

}
