@use "general" as *;

@mixin heading($style:1) {

  display: block;
  font-style: normal;
  margin: 0;
  padding: 0;

  @if $style == 1 {

    font-family: 'Nickel Gothic Variable', sans-serif;
    font-size: 40px;
    line-height: 0.95;
    font-weight: 400;

    @include breakpoint(750px) {
      font-size: 62px;
    }

    @include breakpoint(lg) {
      font-size: 82px;
    }

    @include breakpoint(xl) {
      font-size: 92px;
    }

  }

  @if $style == 2 {

    font-family: 'Nickel Gothic Variable', sans-serif;
    font-size: 35px;
    line-height: 0.95;
    font-weight: 400;

    @include breakpoint(750px) {
      font-size: 82px;
    }

  }

}
