@use "ui" as *;

@mixin link($style:primary) {

  @include ui();

  @if $style == underlined {
    display: inline-block;
    line-height: 1;
    border-bottom: 1px solid #fff;
    color: #fff;
    &:focus,
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }

}

