<link rel="stylesheet" href="{{ 'custom-footer.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'custom-footer.css' | asset_url | stylesheet_tag }}</noscript>

<div class="footer__main">
  <div class="footer__content body-copy uppercase">
    <a class="footer__link link" href="https://www.instagram.com/maatercosmetics" target="_blank" title="Follow us on Instagram">Follow The Light</a> • &copy; {{ "now" | date: "%Y" }} Very Polite Agency Inc.<br/>
    Made on Earth by Maater Cosmetics Vancouver, British Columbia, Canada, V6B 3H6<br/>
    [earth 17h 45m  40.0409s −29° 00± 28.118± 101101100101101001000010110001]
  </div>
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Footer",
    "tag": "footer",
    "class": "footer",
    "settings": [],
	"blocks": []
  }
{% endschema %}