<header class="header">
  <div class="header__brand">
    <a class="header__link link" href="/">
      <img src="{{ 'MAATER--branding.logo.svg' | asset_url }}" alt="{{ shop.name }} Logo" width="374" height="226" />
    </a>
  </div>
  <button class="header__mobile-menu-button button js-toggle-menu-drawer" type="button">
    <span class="button__title">++</span>
  </button>
</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_logo",
      "label": "t:sections.header.settings.mobile_logo.label"
    },
    {
      "type": "range",
      "id": "logo_height",
      "min": 30,
      "max": 200,
      "step": 2,
      "default": 50,
      "unit": "t:sections.header.settings.logo_height.unit",
      "label": "t:sections.header.settings.logo_height.label"
    },
    {
      "type": "range",
      "id": "mobile_logo_height",
      "min": 30,
      "max": 200,
      "step": 2,
      "default": 44,
      "unit": "t:sections.header.settings.mobile_logo_height.unit",
      "label": "t:sections.header.settings.mobile_logo_height.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "off-canvas",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        },
        {
          "value": "center-split",
          "label": "t:sections.header.settings.logo_position.options__5.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "enable_dropdown_menu",
      "default": false,
      "label": "t:sections.header.settings.enable_dropdown_menu.label",
      "info": "t:sections.header.settings.enable_dropdown_menu.info"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "select",
      "id": "icon_weight",
      "options": [
        {
          "value": "0.7",
          "label": "t:sections.header.settings.icon_weight.options__1.label"
        },
        {
          "value": "0.9",
          "label": "t:sections.header.settings.icon_weight.options__2.label"
        },
        {
          "value": "1.1",
          "label": "t:sections.header.settings.icon_weight.options__3.label"
        },
        {
          "value": "1.3",
          "label": "t:sections.header.settings.icon_weight.options__4.label"
        },
        {
          "value": "1.5",
          "label": "t:sections.header.settings.icon_weight.options__5.label"
        },
        {
          "value": "1.7",
          "label": "t:sections.header.settings.icon_weight.options__6.label"
        }
      ],
      "default": "1.1",
      "label": "t:sections.header.settings.icon_weight.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header.content"
    },
    {
      "type": "image_picker",
      "id": "transparent_logo",
      "label": "t:sections.header.settings.transparent_logo.label",
      "info": "t:sections.header.settings.transparent_logo.info"
    },
    {
      "type": "image_picker",
      "id": "mobile_transparent_logo",
      "label": "t:sections.header.settings.mobile_transparent_logo.label"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header",
      "label": "t:sections.header.settings.enable_transparent_header.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header_collection",
      "label": "t:sections.header.settings.enable_transparent_header_collection.label",
      "default": true
    },
    {
      "type": "link_list",
      "id": "enable_transparent_header_custom",
      "label": "t:sections.header.settings.enable_transparent_header_custom.label",
      "info": "t:sections.header.settings.enable_transparent_header_custom.info"
    },
    {
      "type": "checkbox",
      "id": "show_transparent_header_border",
      "default": false,
      "label": "t:sections.header.settings.show_transparent_header_border.label"
    },
    {
      "type": "color",
      "id": "transparent_text_color",
      "label": "t:sections.header.settings.transparent_text_color.label",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "color",
      "id": "colors_text",
      "label": "t:sections.all.colors.colors_text.label",
      "default": "#282828"
    },
    {
      "type": "color",
      "id": "colors_border",
      "label": "t:sections.all.colors.colors_line.label",
      "default": "#d2d5d9"
    },
    {
      "type": "color",
      "id": "colors_background",
      "label": "t:sections.all.colors.colors_background.label",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "t:sections.header.blocks.mega_menu.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.header.blocks.mega_menu.settings.paragraph.content"
        },
        {
          "type": "text",
          "id": "menu_title",
          "label": "t:sections.header.blocks.mega_menu.settings.menu_title.label",
          "info": "t:sections.header.blocks.mega_menu.settings.menu_title.info"
        },
        {
          "type": "checkbox",
          "id": "narrow",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu.settings.narrow.label"
        },
        {
          "type": "checkbox",
          "id": "show_menu_image",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu.settings.show_menu_image.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.header__1.content"
        },
        {
          "type": "image_picker",
          "id": "promo_image_1",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_image_1.label"
        },
        {
          "type": "select",
          "id": "promo_image_ratio_1",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.all.image_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.all.image_ratio.options__2.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.all.image_ratio.options__3.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.all.image_ratio.options__4.label"
            },
            {
              "value": "wide",
              "label": "t:sections.all.image_ratio.options__5.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.all.image_ratio.label"
        },
        {
          "type": "select",
          "id": "promo_image_position_1",
          "options": [
            {
              "value": "20% 0",
              "label": "t:sections.all.image_position.options__1.label"
            },
            {
              "value": "top center",
              "label": "t:sections.all.image_position.options__2.label"
            },
            {
              "value": "80% 0",
              "label": "t:sections.all.image_position.options__3.label"
            },
            {
              "value": "20% 50%",
              "label": "t:sections.all.image_position.options__4.label"
            },
            {
              "value": "center center",
              "label": "t:sections.all.image_position.options__5.label"
            },
            {
              "value": "80% 50%",
              "label": "t:sections.all.image_position.options__6.label"
            },
            {
              "value": "20% 100%",
              "label": "t:sections.all.image_position.options__7.label"
            },
            {
              "value": "bottom center",
              "label": "t:sections.all.image_position.options__8.label"
            },
            {
              "value": "80% 100%",
              "label": "t:sections.all.image_position.options__9.label"
            }
          ],
          "default": "center center",
          "label": "t:sections.all.image_position.label",
          "info": "t:sections.all.image_position.info"
        },
        {
          "type": "text",
          "id": "promo_heading_1",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_heading_1.label"
        },
        {
          "type": "text",
          "id": "promo_text_1",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_text_1.label"
        },
        {
          "type": "checkbox",
          "id": "promo_overlay_content_1",
          "default": false,
          "label": "t:sections.header.blocks.mega_menu.settings.promo_overlay_content_1.label"
        },
        {
          "type": "url",
          "id": "promo_link_1",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_link_1.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.header__2.content"
        },
        {
          "type": "image_picker",
          "id": "promo_image_2",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_image_2.label"
        },
        {
          "type": "select",
          "id": "promo_image_ratio_2",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.all.image_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.all.image_ratio.options__2.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.all.image_ratio.options__3.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.all.image_ratio.options__4.label"
            },
            {
              "value": "wide",
              "label": "t:sections.all.image_ratio.options__5.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.all.image_ratio.label"
        },
        {
          "type": "select",
          "id": "promo_image_position_2",
          "options": [
            {
              "value": "20% 0",
              "label": "t:sections.all.image_position.options__1.label"
            },
            {
              "value": "top center",
              "label": "t:sections.all.image_position.options__2.label"
            },
            {
              "value": "80% 0",
              "label": "t:sections.all.image_position.options__3.label"
            },
            {
              "value": "20% 50%",
              "label": "t:sections.all.image_position.options__4.label"
            },
            {
              "value": "center center",
              "label": "t:sections.all.image_position.options__5.label"
            },
            {
              "value": "80% 50%",
              "label": "t:sections.all.image_position.options__6.label"
            },
            {
              "value": "20% 100%",
              "label": "t:sections.all.image_position.options__7.label"
            },
            {
              "value": "bottom center",
              "label": "t:sections.all.image_position.options__8.label"
            },
            {
              "value": "80% 100%",
              "label": "t:sections.all.image_position.options__9.label"
            }
          ],
          "default": "center center",
          "label": "t:sections.all.image_position.label",
          "info": "t:sections.all.image_position.info"
        },
        {
          "type": "text",
          "id": "promo_heading_2",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_heading_2.label"
        },
        {
          "type": "text",
          "id": "promo_text_2",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_text_2.label"
        },
        {
          "type": "checkbox",
          "id": "promo_overlay_content_2",
          "default": false,
          "label": "t:sections.header.blocks.mega_menu.settings.promo_overlay_content_2.label"
        },
        {
          "type": "url",
          "id": "promo_link_2",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_link_2.label"
        }
      ]
    }
  ]
}
{% endschema %}
