.header {
  padding: 35px 24px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: relative;
}

.header__brand {
  width: 100%;
  margin: 0 auto;
  max-width: 175px;
}

.header__brand a,
.header__brand img {
  width: 100%;
  height: auto;
  display: block;
}

.header__brand .link,
.header__brand .link:hover {
  border: none;
  background: none;
}

.header__brand .link {
  transition: opacity 300ms;
}

.header__brand .link:hover {
  opacity: 0.5;
}

.header__mobile-menu-button {
  font-family: "PP Neue Montreal Bold", sans-serif;
  color: rgba(255,255,255,1);
  border: none !important;
  min-width: 0;
  color: #fff;
  position: absolute;
  right: 24px;
}

.header__mobile-menu-button .button__title {
  font-size: 48px;
  font-weight: 100;
}

.header__mobile-menu-button:after {
  display: none;
}

.header__mobile-menu-button:hover {
  color: rgba(255,255,255,0.5);
}

@media screen and (min-width: 750px) {
  .header__brand {
    max-width: 200px;
  }
}