@use "../mixins/general" as *;

.header {

  background: transparent;
  display: block;
  grid-template-areas: unset;
  grid-template-columns: unset;
  align-items: unset;
  padding: 0;

  .navigation {
    font-family: "PP Neue Montreal Bold", sans-serif;
    color: #fff;
    position: absolute;
    right: 30px;
    font-size: 48px;
    font-weight: 100;
    .cart {
      display: none;
    }
    .link {
      color: inherit;
    }
    .menu-drawer-toggle {
      cursor: pointer;
      transition: opacity 300ms;
      opacity: 1;
      &:focus,
      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__brand {
    width: 100%;
    margin: 0 auto;
    max-width: 135px;
    a, img {
      width: 100%;
      height: auto;
      display: block;
    }
    .link,
    .link:hover {
      border: none;
      background: none;
    }
    .link {
      transition: opacity 300ms;
      &:focus,
      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__main {
    padding: 35px 24px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  @include breakpoint(md) {

    &__brand {
      max-width: 200px;
    }

  }

  @include breakpoint(lg) {

    .navigation {
      .cart {
        display: block;
      }
      &__item {
        & + .navigation__item {
          margin-left: 20px;
        }
      }
    }

  }

  @include breakpoint(xl) {}

  @include breakpoint(xxl) {}

}
