@use "../mixins/general" as *;

.header {

  padding: 35px 24px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: relative;

  &__brand {
    width: 100%;
    margin: 0 auto;
    max-width: 135px;
    a, img {
      width: 100%;
      height: auto;
      display: block;
    }
    .link,
    .link:hover {
      border: none;
      background: none;
    }
    .link {
      transition: opacity 300ms;
      &:focus,
      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__mobile-menu-button {
    transition: opacity 300ms;
    font-family: "PP Neue Montreal Bold", sans-serif;
    color: #fff !important;
    border: none !important;
    min-width: 0;
    position: absolute;
    right: 30px;
    background: transparent;
    opacity: 1;
    padding: 0;
    .button__title {
      font-size: 48px;
      font-weight: 100;
    }
    &:after {
      display: none;
    }
    &:focus,
    &:hover {
      opacity: 0.5;
    }
  }

  @include breakpoint(md) {

    &__brand {
      max-width: 200px;
    }

  }

}
