@use "../mixins/body-copy" as *;
@use "../mixins/general" as *;

.menu-drawer {

  transition: width 300ms, right 300ms;
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  .navigation {
    width: 100%;
    flex-flow: row wrap;
    &__item {
      width: 100%;
    }
    &__link {
      width: auto;
      display: inline-block;
    }
    &--primary {
      .navigation__item {
        font-size: 45px;
        & + .navigation__item {
          margin-top: 12px;
        }
      }
      & + .navigation--secondary {
        margin-top: 44px;
      }
    }
    &--secondary {
      .navigation__item {
        font-size: 14px;
        & + .navigation__item {
          margin-top: 8px;
        }
      }
      .navigation__link {
        &.external {
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: inherit;
          &:focus,
          &:hover {
            border-bottom-color: transparent;
          }
        }
      }
      & + .navigation--secondary {
        margin-top: 30px;
      }
    }
  }

  &__content {
    padding: 7.5%;
    padding-top: 0;
  }

  &__copyright {
    @include body-copy(1);
    font-size: 14px;
    margin-top: 25px;
    p {
      margin: 0;
    }
  }

  &__header {
    height: var(--theme-header-total-height);
    display: flex;
    width: 100%;
    padding: 0 24px;
    align-items: center;
    justify-content: flex-end;
  }

  &__main {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  &__mobile-menu-button {
    transition: opacity 300ms;
    font-family: "PP Neue Montreal Bold", sans-serif;
    color: inherit;
    border: none !important;
    min-width: 0;
    position: absolute;
    right: 24px;
    background: transparent;
    opacity: 1;
    padding: 0;
    .button__title {
      font-size: 48px;
      font-weight: 100;
    }
    &:after {
      display: none;
    }
    &:focus,
    &:hover {
      opacity: 0.5;
    }
  }

  .scroll-position--scrolled & {}

  .mobile-menu--active & {
    right: 0;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    width: 50%;
    right: -50%;

    &__copyright {
      font-size: 14px;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    width: 33.3333%;
    right: -33.3333%;

  } // min width xxl

}
