@use "../mixins/general" as *;
@use "../mixins/ui" as *;

.user-notification {

  position: fixed;
  width: 100%;
  height: 100px;
  bottom: -100px;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    @include ui();
    display: inline-block;
    line-height: 0.95;
    background: none;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: inherit;
    &:focus,
    &:hover {
      border-bottom-color: transparent;
    }
  }

  .heading--secondary {
    font-size: 24px;
  }

  @include breakpoint(md) {
    font-size: 28px;
  }

  @include breakpoint(lg) {
    font-size: 36px;
  }

  @include breakpoint(xl) {
    font-size: 48px;
  }

}
