@use "../mixins/general" as *;

.grid {

  &--2-col {
    .grid__item {
      width: 100%;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &--2-col {
      .grid__item {
        width: 50%;
      }
    }

    &--three-column {
      grid-template-columns: 1fr 1fr 1fr;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
