@use "../mixins/body-copy" as *;

.navigation {

  display: inline-flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;

  svg {
    display: block;
    height: 100%;
    width: auto;
    fill: currentColor;
  }

  &__item,
  &__link {
    display: block;
    line-height: 1;
  }

  &__item {
    text-transform: none;
  }

  &__link {
    transition: opacity 300ms;
    background: none;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1;
    opacity: 1;
    &.active,
    &:focus,
    &:hover {
      opacity: 0.5;
      background-position: unset;
      background-size: unset;
      text-decoration: none;
      border: none;
    }
  }

  &--primary {
    .navigation {
      &__item {
        font-family: 'PP Neue Montreal Bold', sans-serif;
        font-size: 35px;
        font-weight: 400;
        letter-spacing: -.02em;
      }
    }
  }

  &--secondary {
    .navigation {
      &__item {
        @include body-copy(1);
      }
    }
  }

}
